.form-container {
  margin: auto;
  margin-top: 80px;
  width: 750px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);

  h2 {
    width: 600px;
    height: 32px;
    color: #212121;
    font-family: Prata;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 33px;
    margin-left: 76px;
  }
  input[type="text"],
  input[type="number"],
  input[type="radio"] {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 475px;
    height: 35px;
    font-size: 24px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 124px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    vertical-align: middle;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #212121;
    margin-right: 6px;
    margin-left: 124px;
    vertical-align: middle;
    cursor: pointer;
  }

  input[type="radio"]:checked {
    background-color: #467f8c;
  }

  input[type="radio"]:hover {
    background-color: #499ec0;
  }

  input[type="text"]::placeholder {
    display: flex;
    width: 328px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #a4a4a4;
    font-family: "Montserrat", sans-serif;
    padding: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.salvar {
  width: 124px;
  height: 46px;
  flex-shrink: 0;
  background-color: #6278f7;
  border-radius: 6px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: auto;
  margin-top: 16px;
  display: flex;

  flex-direction: column;
  justify-content: center;

  font-family: "Montserrat", sans-serif;

  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.salvar[disabled] {
  background-color: #CCCCCC;
  cursor: not-allowed;
}
